:root{
    box-sizing: border-box;
}

*,
::before,
::after{
    box-sizing: inherit;
}

.playlist-container{
margin-bottom: 10px;
}

.playlist-titles{
width: 200px;
 margin: 2px;
 padding-left: 0;
}

.list-item{
   cursor: pointer;
    padding-left: 0;
    list-style: none;
    color:silver;
    margin-left: 20px;
}

.list-item:hover{
    color: white;
}